// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============

$white:                     #fff;
$black:                     #000;
$mainGreen:                 #00556d;
$mainGold:                  #ce962e;
$mainWhite:                 #f8f8f8;
$textMedDark:               #898989;
$textDark:                  #444444;
$transparent:               transparent;
