// ==========================================================================
// $FONT-FACE
// ==========================================================================


@if variable-exists(google-fonts-url) {
    @import url($google-fonts-url);
}

$google-fonts-url: 'https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700';

// @if variable-exists(gothamRoundLight) {
//     @each $file, $option in $gothamRoundLight {
//         @font-face {
//             font-family: map-get(map-get($gothamRoundLight, $file), family);
//             font-style: map-get(map-get($gothamRoundLight, $file), style);
//             font-weight: map-get(map-get($gothamRoundLight, $file), weight);
//             src: url('../fonts/#{$file}.eot');
//             src:  url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
//             url('../fonts/#{$file}.woff2') format('woff2'),
//             url('../fonts/#{$file}.woff') format('woff'),
//             url('../fonts/#{$file}.ttf') format('truetype'),
//             url('../fonts/#{$file}.svg##{$file}') format('svg');
//         }
//     }
// }
