// GLOBAL VARIABLE

$extraLight : 200;
$light      : 300;
$regular    : 400;
$medium     : 500;
$semiBold   : 600;
$bold       : 700;

// HELPER CLASS

.flex {
    @include flexbox;
    &--dCol {
        flex-direction: column;
    }
    &--dColRev {
        flex-direction: column-reverse;
    }
    &--dRow {
        flex-direction: row;
    }
    &--dRowRev {
        flex-direction: row-reverse;
    }
    &--jFlexStart {
        justify-content: flex-start;
    }
    &--jFlexEnd {
        justify-content: flex-end;
    }
    &--jCenter {
        justify-content: center;
    }
    &--jSpaceAround {
        justify-content: space-around;
    }
    &--jSpaceBetween {
        justify-content: space-between;
    }
    &--aCenter {
        align-items: center;
    }
    &--aFlexStart {
        align-items: flex-start;
    }
    &--aFlexEnd {
        align-items: flex-end;
    }
    &--aStretch {
        align-items: stretch;
    }
    &--wNoWrap {
        flex-wrap: nowrap;
    }
    &--wWrap {
        flex-wrap: wrap;
    }
}
.heading {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 25px;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 70px;
        background-color: $mainGold;
    }
    &--left {
        &:after {
            left: 0;
        }
    }
    &--center {
        text-align: center;
        &:after {
            left: 50%;
            @include transform(translateX(-50%));
        }
    }
    &--title {
        color: $textDark;
        font-size: 36px;
        font-weight: $light;
        margin: 0;
    }
}
.paragraph {
    &--center {
        text-align: center;
    }
    &--default {
        font-size: 16px;
        font-weight: $light;
        line-height: 24px;
        margin-bottom: 15px;
        color: $textMedDark;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Neutralizing CSS

body {
    position: relative;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.05em;
    font-weight: $regular;
    background-color: $mainWhite;
}
a {
    @include transition(all 0.3s);
}
.btn {
    &--shadow {
        @include boxshadow(0 10px 20px rgba($mainGreen, 0.25));
    }
    &--oval {
        border-radius: 100%;
        padding: 0;
        text-align: center;
    }
    &--rounded {
        border-radius: 19px;
    }
    &--round {
        border-radius: 4px;
        height: 46px;
        line-height: 46px;
        padding: 0;
    }
    &--gold {
        color: $white;
        background: rgb(199,134,39);
        background: -moz-linear-gradient(left, rgba(199,134,39,1) 0%, rgba(213,165,53,1) 100%);
        background: -webkit-linear-gradient(left, rgba(199,134,39,1) 0%,rgba(213,165,53,1) 100%);
        background: linear-gradient(to right, rgba(199,134,39,1) 0%,rgba(213,165,53,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c78627', endColorstr='#d5a535',GradientType=1 );
        & > span {
            background: rgb(199,134,39);
            background: -moz-linear-gradient(left, rgba(199,134,39,1) 0%, rgba(213,165,53,1) 100%);
            background: -webkit-linear-gradient(left, rgba(199,134,39,1) 0%,rgba(213,165,53,1) 100%);
            background: linear-gradient(to right, rgba(199,134,39,1) 0%,rgba(213,165,53,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c78627', endColorstr='#d5a535',GradientType=1 );
        }
    }
    &--green {
        color: $white;
        background: rgb(0,72,93); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(0,72,93,1) 0%, rgba(0,98,125,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,72,93,1) 0%,rgba(0,98,125,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,72,93,1) 0%,rgba(0,98,125,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00485d', endColorstr='#00627d',GradientType=1 );
        & > span {
            background: rgb(0,72,93); /* Old browsers */
            background: -moz-linear-gradient(left, rgba(0,72,93,1) 0%, rgba(0,98,125,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0,72,93,1) 0%,rgba(0,98,125,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0,72,93,1) 0%,rgba(0,98,125,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00485d', endColorstr='#00627d',GradientType=1 );
        }
    }
}

// MAIN CSS

.header {
    height: 75px;
    width: 100%;
    top: 30px;
    left: 0;
    right: 0;
    background-color: $transparent;
    position: absolute;
    z-index: 1100;
    &--box {
        height: 75px;
        justify-content: space-between;
        align-items: center;
        @include transition(height 0.5s);
        @include flexbox;
    }
    &--nav > ul,
    &--btn > ul {
        @include reset-list;
        @include flexbox;
    }
    &--logo {
        flex-basis: 15%;
        flex-grow: 1;
        & > a {
            display: inline-block;
            position: relative;
            top: -5px;
        }
    }
    &--nav {
        flex-grow: 2;
        & > ul {
            justify-content: center;
            & > li {
                padding: 0 15px;
                & > a {
                    color: $mainGold;
                    font-weight: $semiBold;
                    font-size: 14px;
                    letter-spacing: 0.05em;
                    text-decoration: none !important;
                    &:hover {
                        color: $mainGreen;
                    }
                }
            }
        }
    }
    &--btn {
        flex-basis: 15%;
        flex-grow: 1;
        &--facebook,
        &--twitter {
            display: block;
            width: 38px;
            height: 38px;
            font-size: 18px;
            line-height: 38px;
            background: $white;
            & > i.fa {
                background-image: -moz-linear-gradient(-45deg, rgba(6,90,113,1) 0%, rgba(17,151,169,1) 100%);;
                background-image: -webkit-linear-gradient(-45deg, rgba(6,90,113,1) 0%,rgba(17,151,169,1) 100%);
                background-image: linear-gradient(135deg, rgba(6,90,113,1) 0%,rgba(17,151,169,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#065a71', endColorstr='#1197a9',GradientType=1 );
                color:transparent;
                -webkit-background-clip: text;
                background-clip: text;
                @include transition(all 0.3s);
            }
            &:hover {
                background: -moz-linear-gradient(-45deg, rgba(6,90,113,1) 0%, rgba(17,151,169,1) 100%);;
                background: -webkit-linear-gradient(-45deg, rgba(6,90,113,1) 0%,rgba(17,151,169,1) 100%);
                background: linear-gradient(135deg, rgba(6,90,113,1) 0%,rgba(17,151,169,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#065a71', endColorstr='#1197a9',GradientType=1 );
                & > i.fa {
                    background-image: none;
                    filter: none;
                    color: $white;
                    -webkit-background-clip: none;
                    background-clip: none;
                    @include transition(all 0.3s);
                }
            }
        }
        &--download {
            background: rgb(16,95,118); /* Old browsers */
            background: -moz-linear-gradient(left, rgba(16,95,118,1) 0%, rgba(4,127,149,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(16,95,118,1) 0%,rgba(4,127,149,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(16,95,118,1) 0%,rgba(4,127,149,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#105f76', endColorstr='#047f95',GradientType=1 );
            color: $white;
            border: 2px solid $white;
            letter-spacing: 0.1em;
            font-size: 10px;
            font-weight: $bold;
            text-align: center;
            padding: 10px 25px;
            height: 38px;
            text-transform: uppercase;
            &:hover,
            &:focus {
                background: $white;
                color: $mainGreen;
            }
        }
        & > ul {
            justify-content: flex-end;
            & > li {
                & + li {
                    padding-left: 10px;
                }
            }
        }
    }
    &.sticky {
        position: fixed;
        top: 0;
        background-color: $white;
        height: 65px;
        & .header--box {
            height: 65px;
            @include transition(height 0.5s);
        }
        & .header--nav {
            & > ul {
                & > li {
                    & > a {
                        color: $textMedDark;
                        &:hover {
                            color: $mainGold;
                        }
                    }
                }
            }
        }
        @include boxshadow(0 6px 20px rgba($black, 0.1));
        @include transition(background-color 0.5s, height 0.5s);
    }
    @include transition(background-color 0.5s, height 0.5s);

}
.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 108px;
        bottom: 0;
        background-image: url('../images/banner-shade.png');
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    &--box {
        max-width: calc(100% * 7.5 / 12);
        padding-top: 45px;
        color: $white;
        & > h1 {
            font-size: 60px;
            font-weight: $extraLight;
            margin: 0 0 25px;
        }
        & > p {
            font-size: 16px;
            font-weight: $regular;
            line-height: 24px;
            margin-bottom: 40px;
        }
        & > a {
            &.btn--google_badge {
                background-color: $white;
                height: 90px;
                line-height: 90px;
                border-radius: 45px;
                padding: 0 40px;
                img {
                    position: relative;
                    top: -2px;
                }
                &:hover {
                    background-color: darken($white, 5%


                    );
                }
                @include boxshadow(25px 35px 35px rgba($mainGreen, 0.5));
            }
        }
    }
}
.about {
    min-height: 100vh;
    &--box {
        padding-top: 65px;
        .heading {
            padding-top: 20px;
        }
    }
    &--img {
        filter: drop-shadow(20px 20px 15px rgba($black, 0.35));
    }
    &--btn {
        margin-top: 50px;
        & > ul {
            & > li {
                float: left;
                & + li {
                    margin-left: 30px;
                }
                & > a {
                    display: block;
                    text-align: center;
                    width: 225px;
                    font-size: 14px;
                    font-weight: $medium;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    position: relative;
                    overflow: hidden;
                    border: none;
                    & > img {
                        position: relative;
                        top: -3px;
                        margin-right: 5px;
                    }
                    & > span {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        & > img {
                            margin-left: 5px;
                            position: relative;
                            top: -3px;
                        }
                        @include transition(top 0.3s);
                    }
                    &:hover {
                        & > span {
                            top: 0;
                            color: $white;
                            @include transition(top 0.3s);
                        }
                    }
                    @include boxshadow(25px 25px 35px rgba($mainGreen, 0.45));
                }
            }
            @include clearfix;
            @include reset-list;
        }
    }
}
.features {
    min-height: 100vh;
    background-color: #f5f5f5;
    &--box {
        padding-top: 65px;
    }
    &--list {
        text-align: center;
        margin-top: 70px;
        &--img {
            display: inline-block;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: $white;
            line-height: 150px;
            overflow: hidden;
            position: relative;
            & > img {
                position: relative;
                z-index: 2;
            }
            &:before {
                content: "";
                position: absolute;
                top: 5%;
                left: 0;
                border-bottom: 150px solid #f8f8f8;
                border-left: 250px solid $transparent;
            }
            @include boxshadow(20px 20px 30px rgba($black, 0.075));
        }
        &--text {
            & > h3 {
                font-size: 18px;
                font-weight: $semiBold;
                color: $mainGold;
                margin: 30 0 15px;
            }
            & > p {
                font-size: 14px;
                font-weight: $regular;
                line-height: 24px;
                color: $textMedDark;
                margin-bottom: 0;
            }
        }
    }
}
.howitworks {
    min-height: 100vh;
    &--box {
        padding-top: 65px;
    }
}
.partnership {
    min-height: 100vh;
    background-color: #f5f5f5;
    &--box {
        padding-top: 65px;
    }
    &--list {
        height: 12vw;
        background-color: $white;
        border-radius: 4px;
        overflow: hidden;
        @include boxshadow(10px 10px 15px rgba($black, 0.1));
    }
    & #partnership {
        margin: 0 -15px;
        width: calc(100% + 30px);
        .item {
            padding: 15px;
        }
    }
}
